<%=
  seo [
    { property: 'description', content: "Vote agora! NA Urna você pode simular seu voto e ver as estatísticas de intenções de voto em tempo real. Vote agora, mude de opinião, mas vá pra urna. Cada voto importa!" },
    { property: 'robots', content: "noindex" }
  ]
  title nil
%>

<div class="container devise">
  <div class="row">

    <div class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 mt">
      <%= image_tag 'aurna-100.png', class: 'img-responsive logo-right' %>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { role: 'form', class: 'form-signin' }) do |f| %>
        <%= f.text_field :name, autofocus: true, placeholder: 'Nome', class: 'form-control', required: true %><br>
        <%= f.email_field :email, placeholder: 'Email', class: 'form-control', required: true %><br>
        <%= f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: 'Senha' %><br>
        <%= f.select :state, CandidatesHelper::STATES.map{|state|[state[0], state[0]]}, { include_blank: false, selected: 'SP' }, { class: 'form-control' } %><br>
        <%= f.submit "Quero Participar!", class: 'btn btn-lg btn-success btn-block' %>
      <% end %>

      <%= render "devise/shared/links" %>

    </div>
  </div>

</div>
