<br>
<%- if devise_mapping.omniauthable? %>
  <%- resource_class.omniauth_providers.each do |provider| %>
    <span class'pull-right'>
      <%= link_to omniauth_authorize_path(resource_name, provider), class: 'btn btn-primary btn-large btn-block' do %>
        <i class='fa fa-facebook'></i> Entrar com Facebook
      <% end %>
    </span>
  <% end -%>
<% end -%>

<br>

<%- if controller_name != 'sessions' %>
  <%= link_to "Já tenho conta o/", new_session_path(resource_name) %><br />
<% end -%>

<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
  <%= link_to "Quero me cadastrar o/", new_registration_path(resource_name) %><br />
<% end -%>

<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
  <%= link_to "Ops, esqueci a senha =/", new_password_path(resource_name) %><br />
<% end -%>


<br><%= link_to '< Início', root_path %>