<%=
  seo [
    { property: 'description', content: "Fale Conosco. NA Urna você pode simular seu voto e ver as estatísticas de intenções de voto em tempo real. Vote agora, ou mude de opinião, mas venha para A Urna." },
    { property: 'og:title', content: "Fale Conosco - Intenções de Voto em Tempo Real - A Urna", type: 'property' },
    { property: 'og:url', content: politics_url, type: 'property' },
    { property: 'og:image', content: image_url('compartilhe-aurna.png'), type: 'property' },
    { property: 'og:description', content: "Fale Conosco. NA Urna você pode simular seu voto e ver as estatísticas de intenções de voto em tempo real. Vote agora, ou mude de opinião, mas venha para A Urna.", type: 'property' }
  ]
  title "Fale Conosco - A Urna - Pesquisa de Inteções de Votos em Tempo Real"
%>

<%= render 'commons/menu' %>

<% cache do %>
<div class="container">
  <div class="row centered">
    <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 mt">

      <% if flash[:notice] -%>
        <div class="alert alert-notice alert-dismissable">
          <%= flash[:notice] %>
        </div>
      <% end -%>

      <h1 class='cool-title centered'>Fale Conosco</h1>

      <h4>Mande sua mensagem para a equipe dA Urna. <br>Não encontrou seu candidato? Não consegue usar o simulador? Reporte um erro no sistema, nos dados dos candidatos ou apenas deixe uma sugestão.<br>Deixe seu email no corpo da mensagem, que entremos em contato.</h4><br>

      <%= form_for(@issue, html: { role: 'form', class: 'form-horizontal' }) do |f| %>
        <%= f.text_area :message, autofocus: true, class: 'form-control', placeholder: 'Sua Mensagem', rows: 10 %><br>
        <%= f.submit "Enviar", class: 'btn btn-lg btn-primary btn-block' %>
      <% end %>

      <p><br>Ou mande seu email diretamente para nós: <a href="mailto:aurna@sorta.in">aurna@sorta.in</a>.</p>
      <p>Procuramos colaboradores para manter este projeto. Interessados, manifestem-se!</p>
    </div>
  </div>
</div>

<% end %>

