#results
  p, a
    font-size: 16px

  section
    min-height: 540px

  .squares
    border: 1px solid gray
    padding: 20px
    background-color: #fcfcfc

    .square
      border: 3px solid black
      background-color: white
      font-size: 28px
      padding: 6px 14px
      font-weight: bold
      margin-right: 4px

  &.bigger

    .squares
      .square
        font-size: 40px

  .btn
    font-weight: bold

