#simulator
  text-transform: uppercase

  .btn
    text-transform: uppercase

  .steps
    display: none
    ul
      list-style: none
      li
        display: inline
        padding: 4px 10px

  h3
    margin-top: 20%

  h2.politic
    padding: 20px 0
    height: 122px
    .guy
      color: rgb(158, 9, 9)
      font-size: 38px

  section
    .squares
      margin: 20px auto

    .input-square
      width: 80px
      height: 80px
      border: 2px solid black
      text-align: center
      padding: 20px 10px
      font-weight: bold
      font-size: 40px
      margin: 0 4px

    .call-to-actions
      .btn-lg
        float: right
      .btn-default
        margin-right: 6px
      .btn-large
        margin-top: 15px
        float: left

