<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Mensagem enviada pelo site</h1>
  </div>
</div>

<div class="col-lg-12">
  <div class="panel panel-default">
    <div class="panel-heading">Editar</div>

    <div class="panel-body">

      <%= form_for([:zone, @issue], html: { role: 'form', class: 'form-horizontal' }) do |f| %>
        <% if @issue.user %>De: <%= @issue.user.name %> (<%= @issue.user.email %>)<br><br><% end %>
        <%= f.text_area :message, autofocus: true, class: 'form-control', disabled: true, rows: 20 %><br>
        <%= f.select :status, Issue::STATUSES.map{|status|[status[0], status[0]]}, { include_blank: false }, { class: 'form-control input-lg' } %><br><br>
        <%= f.submit "Enviar", class: 'btn btn-lg btn-primary btn-block' %>
      <% end %>

    </div>
  </div>
</div>
