<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Mensagens</h1>
  </div>
</div>

<div class="col-lg-12">
  <div class="panel panel-default">
    <div class="panel-heading">Lista</div>

    <div class="panel-body">

      <div class="table-responsive">

        <table class="table">
          <thead>
            <tr>
              <th>ID</th>
              <th>Data/Hora</th>
              <th>Status</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @issues.order(created_at: :desc).each do |issue| %>
              <tr class="<%= class_for issue.status %>">
                <td><%= issue.id %></td>
                <td><%= issue.created_at.strftime("%d/%m/%Y %H:%M") %></td>
                <td><%= issue.status %></td>
                <td>
                  <%= link_to 'ver', zone_issue_path(issue) %> | <%= link_to 'editar', edit_zone_issue_path(issue) %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>

      </div>
    </div>
  </div>
</div>
