<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Mensagem recebida em <%= @issue.created_at.strftime("%d/%m/%Y %H:%M") %></h1>
  </div>
</div>

<div class="col-lg-12">
  <div class="panel panel-default">
    <div class="panel-heading">Dados</div>

    <div class="panel-body">
      <% if @issue.user %>De: <%= @issue.user.name %> (<%= @issue.user.email %>)<br><% end %>
      <p>Situação: <%= @issue.status %></p>

      <p><%= simple_format @issue.message %></p>
    </div>

  </div>

  <%= link_to '< Voltar', zone_issues_path, class: 'btn btn-primary' %>
  <%= link_to 'Editar', edit_zone_issue_path(@issue), class: 'btn btn-primary' %>

</div>
