<%=
  seo [
    { property: 'description', content: "Vote agora! NA Urna você pode simular seu voto e ver as estatísticas de intenções de voto em tempo real. Vote agora, mude de opinião, mas vá pra urna. Cada voto importa!" },
    { property: 'robots', content: "noindex" }
  ]
  title nil
%>
<%= render 'commons/menu' %>

<div class="container account">

  <div class="row">
    <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-12 mt">

    <% if flash[:notice] -%>
      <div class="alert alert-notice alert-dismissable">
        <%= flash[:notice] %>
        <%= link_to 'Ir para o Simulador', simulator_path, class: 'btn btn-success' %>
      </div>
    <% end -%>

    <h1>Perfil</h1>

    <%= form_for(current_user, as: 'user', url: account_path, html: { role: 'form' }) do |f| %>
      <% if @show_errors && current_user.errors.any? %>
        <div id="error_explanation">
          <% current_user.errors.full_messages.each do |msg| %>
            <%= msg %><br>
          <% end %>
        </div>
      <% end %>

      <div class="row">
        <div class="form-group col-lg-10 col-md-10 col-sm-8">
          <%= f.label :name, 'Nome' %>
          <div class="controls">
            <%= f.text_field :name, autofocus: true, class: 'form-control input-lg', placeholder: 'Nome' %>
          </div>
        </div>

        <div class="form-group col-lg-2 col-md-2 col-sm-4 no-padding-left">
          <%= f.label :state, "Estado" %>
          <div class="controls">
            <%= f.select :state, CandidatesHelper::STATES.map{|state|[state[0], state[0]]}, { include_blank: false, selected: (current_user.state || 'SP') }, { class: 'form-control input-lg', required: true } %><br>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-lg-12">
          <%= f.label :email %>
          <div class="controls">
            <%= f.email_field :email, disabled: true, class: 'form-control input-lg', placeholder: 'Example: email@me.com' %>
            <p class="help-block">Não mandaremos spam.</p>
          </div>
        </div>

        <div class="actions col-lg-12">
          <%= f.submit 'Salvar', class: 'btn btn-primary btn-lg pull-right' %>
          <% if current_user.votes.any? %>
            <%= link_to 'Imprimir Cola Eleitoral', print_path, class: 'pull-left' %><br>
          <% end %>
          <%= link_to 'Ir para a Home', root_path, class: 'pull-left' %>
        </div>
      </div>
    <% end %>

    </div>
  </div>
</div>