<%=
  seo [
    { property: 'description', content: "Eleições 2014. Vote agora! NA Urna você pode simular seu voto e ver as estatísticas de intenções de voto em tempo real. Vote agora, ou mude de opinião, mas venha para A Urna. Cada voto importa!" },
    { property: 'og:title', content: "Eleições 2014 - Intenções de Voto em Tempo Real - A Urna", type: 'property' },
    { property: 'og:url', content: root_url, type: 'property' },
    { property: 'og:image', content: image_url('compartilhe-aurna.png'), type: 'property' },
    { property: 'og:description', content: "Vote agora! NA Urna você pode simular seu voto e ver as estatísticas de intenções de voto em tempo real. Vote agora, ou mude de opinião, mas venha para A Urna. Cada voto importa!", type: 'property' }
  ]
  title nil
%>
<% cache 'header-home' do %>
<div id="headerwrap">
  <div class="container">
    <div class="row centered">

      <div class="col-lg-8 col-md-8 col-sm-12 col-lg-offset-2 col-md-offset-2 mt">
        <%= image_tag 'aurna-white-100.png', class: 'img-responsive', alt: 'A Urna' %>
        <h1 class="animation slideDown">Pesquisa de Intenções de Votos em Tempo Real</h1><br>
        <%= link_to 'Simular Voto', simulator_path, class: 'btn btn-primary btn-lg' %>
        <%= link_to 'Estatísticas', charts_path, class: 'btn btn-success btn-lg' %>
      </div>

    </div>
  </div>
</div>
<% end %>

<div id="black">
  <div class="container pt">
    <div class="row mt centered">
      <div class="col-lg-4 col-md-4 col-sm-4">
        <h1><%= @users.size %></h1>
        <hr>
        <h4>Eleitores</h4>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-4">
        <h1><%= @votes.size %></h1>
        <hr>
        <h4>Votos Computados</h4>
      </div>
      <% cache 'candidates-counter', expires_in: 1.week do %>
        <div class="col-lg-4 col-md-4 col-sm-4">
          <h1><%= @candidates.size %></h1>
          <hr>
          <h4>Candidatos</h4>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="container chart">
  <div class="row mt">
    <div class="col-lg-6 col-lg-offset-3 centered">
      <h3>Presidenciáveis</h3>
      <hr>
      <h4>Intenções de Votos para <%= current_election.name %></h4>
    </div>
  </div>

  <div class="row mt">

    <%= content_for :javascript do %>
      <script type="text/javascript">
        var data = {
          labels: <%= raw @stats.keys %>,
          series: [
            <%= raw @stats.values %>
          ]
        };

        var options = {
          height: 400,
          axisY: {
            scaleMinSpace: 50
          }
        };

        var responsiveOptions = [
          ['screen and (max-width: 640px)', {
            axisX: {
              labelInterpolationFnc: function (value) {
                return value[0];
              }
            }
          }]
        ];

        Chartist.Bar('.ct-chart', data, options, responsiveOptions);

        var easeOutQuad = function (x, t, b, c, d) {
          return -c * (t /= d) * (t - 2) + b;
        };

        var $chart = $('.ct-chart');

        var $toolTip = $chart
          .append('<div class="tip"></div>')
          .find('.tip')
          .hide();

        $chart.on('mouseenter', '.ct-bar', function() {
          var $point = $(this),
            value = $point.attr('ct:value');

          $point.animate({'stroke-width': '34px'}, 300, easeOutQuad);
          $toolTip.html(value).show();
        });

        $chart.on('mouseleave', '.ct-bar', function() {
          var $point = $(this);

          $point.animate({'stroke-width': '24px'}, 300, easeOutQuad);
          $toolTip.hide();
        });

        $chart.on('mousemove', function(event) {
          $toolTip.css({
            left: (event.pageX - $(this).offset().left) - $toolTip.width() / 2 - 10,
            top: (event.pageY - $(this).offset().top) - $toolTip.height() + 10
          });
        });
      </script>
    <% end %>

    <div class="ct-chart"></div>

  </div>
</div>

<% cache 'votes-to-presidents', expires_in: 1.hour do %>
<div id="white">
  <div class="container">

    <div class="row centered">
      <div class="col-lg-4 col-lg-offset-2 col-md-4 col-lg-offset-2 col-sm-6">
        <div class="members">
          <%= image_tag 'dilma.jpg', class: 'img-responsive', alt: 'Dilma' %>
          <div class="team-info">
            <h2 class="team-name">Dilma</h2>
            <h3><%= @dilma.votes_to_percent %>%</h3>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-6">
        <div class="members aecio">
          <%= image_tag 'aecio.jpg', class: 'img-responsive', alt: 'Aécio Neves' %>
          <div class="team-info">
            <h2 class="team-name">Aécio</h2>
            <h3><%= @aecio.votes_to_percent %>%</h3>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<% end %>

<% cache 'cta-home' do %>
<div id="cta-bar">
  <div class="container">
    <div class="row centered">
      <h4>Simule aqui o seu voto para as <%= current_election.name %></h4><br>
      <%= link_to 'Simular Voto', simulator_path, class: 'btn btn-primary btn-lg mright' %>
    </div>
  </div>
</div>
<% end %>
