<%=
  seo [
    { property: 'description', content: "Políticas de Privacidade. NA Urna você pode simular seu voto e ver as estatísticas de intenções de voto em tempo real. Vote agora, ou mude de opinião, mas venha para A Urna." },
    { property: 'og:title', content: "Eleições 2014 - Intenções de Voto em Tempo Real - A Urna", type: 'property' },
    { property: 'og:url', content: politics_url, type: 'property' },
    { property: 'og:image', content: image_url('compartilhe-aurna.png'), type: 'property' },
    { property: 'og:description', content: "Políticas de Privacidade. NA Urna você pode simular seu voto e ver as estatísticas de intenções de voto em tempo real. Vote agora, ou mude de opinião, mas venha para A Urna.", type: 'property' }
  ]
  title "Políticas de Privacidade - A Urna - Pesquisa de Inteções de Votos em Tempo Real"
%>

<%= render 'commons/menu' %>

<% cache 'privacy' do %>
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 mt">
      <h1 class='cool-title centered'>Políticas de Privacidade</h1>

      <ul class='terms'>
        <li>Não, o nosso simulador não garante seu voto no dia das eleições.</li>
        <li>Não, nós não vamos divulgar seu voto para ninguém. O simulador do voto eleitoral existe apenas popular nossas estatísticas.</li>
        <li>Não, não estamos ligados a nenhum partido, candidato ou mesmo ao TSE.</li>
        <li>Sim, o sigilo dos seus dados estará seguro.</li>
        <li>Sim, você pode manifestar seu apoio a qualquer candidato.</li>
      </ul>

    </div>
  </div>
</div>

<% end %>

