<%= form_for([:zone, @candidate], html: { role: 'form', class: 'form-horizontal' }) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name, autofocus: true, class: 'form-control' %><br>

  <%= f.label :ballot_name, 'Nome na Urna' %>
  <%= f.text_field :ballot_name, class: 'form-control' %><br>

  <%= f.label :number %>
  <%= f.text_field :number, class: 'form-control' %><br>

  <%= f.label :position, 'Cargo' %>
  <%= f.text_field :position, class: 'form-control' %><br>

  <%= f.label :entourage, 'Partido' %>
  <%= f.text_field :entourage, class: 'form-control' %><br>

  <%= f.label :union, 'Coligação' %>
  <%= f.text_field :union, class: 'form-control' %><br>

  <%= f.label :status %>
  <%= f.text_field :status, class: 'form-control' %><br>

  <%= f.label :state %>
  <%= f.select :state, CandidatesHelper::STATES.merge({ 'BR' => 'Brasil' }).map{|state|[state[0], state[0]]}, {}, { class: 'form-control' } %><br>

  <%= f.label :election %>
  <%= f.select :election_id, Election.all.map{|e|[e.name, e.id]}, {}, { class: 'form-control' } %><br>

  <%= f.submit "Salvar", class: 'btn btn-lg btn-primary btn-block' %>
<% end %>