<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Editar <%= @candidate.ballot_name %></h1>
  </div>
</div>

<div class="col-lg-12">
  <div class="panel panel-default">
    <div class="panel-heading">Editar</div>

    <div class="panel-body">

      <%= render 'form' %>

    </div>
  </div>
</div>
