<br>

  <div class="panel panel-default">
    <div class="panel-heading">
      Candidatos <%= current_election.name %>
      <%= link_to '+ adicionar', new_zone_candidate_path, class: 'pull-right' %>
    </div>

    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <div id="dataTables-example_filter" class="dataTables_filter pull-right">
            <%= form_tag([:zone, :search], html: { role: 'form', class: 'form-horizontal' }) do %>
              <label>Busca
                <%= search_field_tag :term, nil, class: 'form-control input-sm', 'aria-controls' => "dataTables-example" %>
              <% end %>
            </div>
        </div>
      </div>
      <div class="table-responsive">

        <table class="table">
          <thead>
            <tr>
              <th>ID</th>
              <th>Nome na Urna</th>
              <th>Cargo</th>
              <th>Número</th>
              <th>Partido</th>
              <th>Estado</th>
              <th>Votos</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @candidates.each do |candidate| %>
              <tr>
                <td><%= candidate.id %></td>
                <td><%= candidate.ballot_name %></td>
                <td><%= candidate.position %></td>
                <td><%= candidate.number %></td>
                <td><%= candidate.entourage %></td>
                <td><%= candidate.state %></td>
                <td><%= candidate.votes_counter %></td>
                <td>
                  <%= link_to 'ver', zone_candidate_path(candidate.id) %> | <%= link_to 'editar', edit_zone_candidate_path(candidate.id) %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>

      </div>

      <% unless params[:term] %><%= paginate @candidates %><% end %>
    </div>
  </div>
