<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Novo Candidato</h1>
  </div>
</div>

<div class="col-lg-12">
  <div class="panel panel-default">
    <div class="panel-heading">Cadastrar</div>

    <div class="panel-body">

      <%= render 'form' %>

    </div>
  </div>
</div>
