<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header"><%= @candidate.ballot_name %></h1>
  </div>
</div>

<div class="col-lg-12">
  <div class="panel panel-default">
    <div class="panel-heading">Dados</div>

    <div class="panel-body">
      <div class="table-responsive">

        <table class="table">
          <tbody>
            <tr>
              <td>Nome</td>
              <td><%= @candidate.name %></td>
            </tr>
            <tr>
              <td>Nome na Urna</td>
              <td><%= @candidate.ballot_name %></td>
            </tr>
            <tr>
              <td>Número</td>
              <td><%= @candidate.number %></td>
            </tr>
            <tr>
              <td>Cargo</td>
              <td><%= @candidate.position %></td>
            </tr>
            <tr>
              <td>Partido</td>
              <td><%= @candidate.entourage %></td>
            </tr>
            <tr>
              <td>Estado</td>
              <td><%= @candidate.state %></td>
            </tr>
            <tr>
              <td>Coligação</td>
              <td><%= @candidate.union %></td>
            </tr>
            <tr>
              <td>Eleição</td>
              <td><%= @candidate.election.name %></td>
            </tr>
            <tr>
              <td>Situação</td>
              <td><%= @candidate.status %></td>
            </tr>
            <tr>
              <td>Votos</td>
              <td><%= @candidate.votes_counter %></td>
            </tr>

          </tbody>
        </table>

      </div>
    </div>
  </div>

  <%= link_to '< Voltar', zone_candidates_path, class: 'btn btn-primary' %>
  <%= link_to 'Editar', edit_zone_candidate_path(@candidate), class: 'btn btn-primary' %>

</div>
