<% flash.each do |name, msg| -%>
  <div class="alert alert-<%= name %> alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <%= msg %>
  </div>
<% end -%>