<meta charset="utf-8">
<meta name="copyright" content="A Urna">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="google-site-verification" content="WpVoVDPMauDeRLCTg_ytz2Pn2G2iNl3Ar0GY9BsFWUA" />
<%= yield :metatags %>
<meta property="og:locale" content="pt_BR">
<meta property="og:site_name" content="A Urna">
<meta property="og:type" content="website">
<meta property="fb:app_id" content="294932487369019">

<title><%= yield(:title) %></title>

<%= stylesheet_link_tag    'application', media: 'all' %>
<%= yield :stylesheets %>

<link rel="canonical" href="<%= request.path %>">
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
<link rel="icon" href="/favicon.ico" type="image/x-icon">

<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
<![endif]-->

<%= csrf_meta_tags %>

<script type="text/javascript">
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-2347706-25', 'auto');
  ga('require', 'linkid', 'linkid.js');
  ga('send', 'pageview');
</script>
