<div class="container">
  <div class="row-fluid">
    <ul class="nav nav-pills pull-right">
      <li><%= link_to 'Início', root_path %></li>
      <li><%= link_to 'Estatísticas', charts_path %></li>
      <li><%= link_to 'Simulador', simulator_path %></li>
      <% if current_user %>
        <li><%= link_to 'Minha Conta', account_path %></li>
        <li><%= link_to 'Sair', destroy_user_session_path, method: 'DELETE' %></li>
        <li><%= link_to current_user.state, '', class: 'btn btn-default btn-md' %></li>
      <% end %>
    </ul>
  </div>
</div>