<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Eleitores</h1>
  </div>
</div>

<div class="row">
  <div class="col-lg-6">
    <div class="panel panel-default">
      <div class="panel-heading">Editar</div>

      <div class="panel-body">

        <%= form_for([:zone, @user], html: { role: 'form', class: 'form-horizontal' }) do |f| %>
          <%= f.text_field :name, class: 'form-control' %><br>
          <%= f.text_field :email, class: 'form-control', disabled: true %><br>
          <%= f.select :state, CandidatesHelper::STATES.map{|state|[state[0], state[0]]}, { include_blank: false, selected: (@user.state || 'SP') }, { class: 'form-control input-lg', required: true } %><br><br><br>
          <%= f.submit "Enviar", class: 'btn btn-lg btn-primary btn-block' %>
        <% end %>

      </div>
    </div>
  </div>

  <div class="col-lg-6">
    <div class="panel panel-default">
      <div class="panel-heading">Votos</div>

      <div class="panel-body">
        <% if @user.votes.any? %>
          <ul class="list-group">
          <% @user.votes.each do |vote| %>
            <li class="list-group-item">
              <% if vote.candidate %>
                <span class="badge"><%= vote.number %></span>
                <%= vote.position %>: <%= vote.candidate.try(:ballot_name) %><br>
              <% else %>
                <%= vote.position %>: <span class="mute">Nulo ou Branco</span>
              <% end %>
            </li>
          <% end %>
          </ul>
        <% end %>
      </div>
    </div>
  </div>
</div>
