<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header"><%= @users.unscoped.size %> Usuários</h1>
  </div>
</div>
<div class="col-lg-12">
  <div class="panel panel-default">
    <div class="panel-heading">
      Lista Completa
    </div>

    <div class="panel-body">
      <div class="table-responsive">

        <table class="table">
          <thead>
            <tr>
              <th>ID</th>
              <th>Nome</th>
              <th>Email</th>
              <th>Estado</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @users.each do |user| %>
              <tr>
                <td><%= link_to user.id, edit_zone_user_path(user) %></td>
                <td><%= user.name %></td>
                <td><%= user.email %></td>
                <td><%= user.state %></td>
                <td><%= user.created_at.strftime("%d/%m/%Y %H:%M") %></td>
              </tr>
            <% end %>
          </tbody>
        </table>

      </div>

      <%= paginate @users %>
    </div>
  </div>
</div>