<%=
  seo [
    { property: 'description', content: "Vote agora! NA Urna você pode simular seu voto e ver as estatísticas de intenções de voto em tempo real. Vote agora, mude de opinião, mas vá pra urna. Cada voto importa!" },
    { property: 'robots', content: "noindex" }
  ]
  title nil
%>

<div class="container devise">
  <div class="row">
    <%= link_to image_tag('aurna-100.png', class: 'img-responsive centered'), root_path %>

    <div class="col-lg-4 col-lg-offset-2 col-md-4 col-md-offset-2 mt">
      <h4>Efetuar o login</h4>

      <p><b>Nós não vamos divulgar seu voto para ninguém.</b> O simulador do voto eleitoral existe apenas fins de estatísticas.</p>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { role: 'form', class: 'form-signin' }) do |f| %>
        <%= f.email_field :email, autofocus: true, placeholder: 'Email', class: 'form-control', required: true %><br>
        <%= f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: 'Senha' %>

        <% if devise_mapping.rememberable? -%>
          <label class="checkbox">
            <%= f.check_box :remember_me %> Lembrar-me
          </label>
        <% end -%>

        <%= f.submit "Entrar", class: 'btn btn-lg btn-warning btn-block' %>
      <% end %>
      <br>

      <%= link_to omniauth_authorize_path(resource_name, :facebook), class: 'btn btn-primary btn-lg btn-block' do %>
        <i class='fa fa-facebook'></i> Entrar com Facebook
      <% end %>
      <br><%= link_to '<< Voltar', root_path %>
    </div>

    <div class="col-lg-4 col-md-4 mt">
      <h4>Ainda não tem cadastro? Cadastre-se aqui! (;</h4>

      <p>O cadastro é necessário para que possamos contabilizar os votos. O voto não é acumulativo, mas você poderá mudar seu voto sempre que quiser.</p>

      <p>Cadastre-se também através do <%= link_to 'Facebook', omniauth_authorize_path(resource_name, :facebook) %>.</p>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { role: 'form', class: 'form-signin' }) do |f| %>

        <div class="row">
          <div class="form-group col-lg-9 col-md-9 col-sm-8">
            <div class="controls">
              <%= f.text_field :name, autofocus: true, class: 'form-control', placeholder: 'Nome' %>
            </div>
          </div>

          <div class="form-group col-lg-3 col-md-3 col-sm-4 no-padding-left">
            <div class="controls">
              <%= f.select :state, CandidatesHelper::STATES.map{|state|[state[0], state[0]]}, { include_blank: false, selected: 'SP' }, { class: 'form-control', required: true } %>
            </div>
          </div>
        </div>

        <%= f.email_field :email, placeholder: 'Email', class: 'form-control', required: true %><br>
        <%= f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: 'Senha' %><br>
        <%= f.submit "Quero participar!", class: 'btn btn-lg btn-success btn-block' %>
      <% end %>

      <br>
    </div>


  </div>

</div>