/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require zone/bootstrap.min
 *= require zone/plugins/dataTables/dataTables.bootstrap
 *= require zone/plugins/morris/morris-0.4.3.min
 *= require zone/font-awesome.min
 *= require zone/sb-admin
 *= require_self
 */

.centered { text-align: center; margin: 0 auto; }
.alert-notice { background-color: #dff0d8; border-color: #d6e9c6; color: #3c763d; }
tr.mute td { color: silver; }
.admin-only { font-weight: bold; color: gray; }