<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Anos Eleitorais</h1>
  </div>
</div>

<div class="col-lg-12">
  <div class="panel panel-default">

    <div class="panel-body">

      <%= form_for [:zone, @election] do |f| %>
        <label for="">Ano</label>
        <%= f.select :year, [2014,2015].to_a.collect{|y| [y, y] }, required: true %>
        <label for="">Turno</label>
        <%= f.select :round, [1,2].collect{|r| ["#{r}o Turno", r] }, required: true %>
        <%= f.submit 'Salvar' %>
      <% end %>

      <div class="table-responsive">

        <table class="table">
          <thead>
            <tr>
              <th>Ano</th>
              <th>Tuno</th>
            </tr>
          </thead>
          <tbody>
            <% @elections.each do |election| %>
            <tr>
              <td><%= election.year %></td>
              <td><%= election.round %></td>
            </tr>
            <% end %>
          </tbody>
        </table>

      </div>
    </div>
  </div>
</div>
