<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Painel</h1>
  </div>
</div>

<div class="row">
  <div class="col-lg-3">
    <div class="panel panel-info">
      <div class="panel-heading">Votos</div>
      <div class="panel-body">
        <h1 class="centered"><%= @votes %></h1>
      </div>
    </div>
  </div>

  <div class="col-lg-3">
    <div class="panel panel-default">
      <div class="panel-heading">Usuários</div>
      <div class="panel-body">
        <h1 class="centered"><%= @users %></h1>
      </div>
    </div>
  </div>

  <div class="col-lg-3">
    <div class="panel panel-default">
      <div class="panel-heading">Candidatos</div>
      <div class="panel-body">
        <h1 class="centered"><%= @candidates %></h1>
      </div>
    </div>
  </div>

  <div class="col-lg-3">
    <div class="panel panel-default">
      <div class="panel-heading">Mensagens</div>
      <div class="panel-body">
        <h1 class="centered"><%= @issues %></h1>
      </div>
    </div>
  </div>
</div>
