<br>
<div class="btn-group">
<% CandidatesHelper::STATES.each do |state, acronym| %>
  <%= link_to state, zone_stats_path(state, 'governador'), class: 'btn btn-default' %>
<% end %>
</div>
<br><br>

<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <div id="morris-bar-chart"></div>
      </div>
    </div>
  </div>
</div>

<%= content_for :javascript do %>
  <script type="text/javascript">
    Morris.Bar({
      element: 'morris-bar-chart',
      data: <%= @data.html_safe %>,
      xkey: 'ballot_name',
      ykeys: ['votes_counter'],
      labels: ['Votos Computados'],
      hideHover: 'auto'
    });
  </script>
<% end %>