/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require vendor/hover_pack
 *= require zone/bootstrap.min
 *= require main
 *= require colors/74c9be
 *= require vendor/animate.min
 *= require vendor/animations
 *= require vendor/jquery.steps
 *= require vendor/scss/chartist
 *= require zone/font-awesome.min
 *= require_tree ./resources
 *= require_self
 */
ul.nav { margin: 20px 0 0; }
.btn-lg { padding: 12px 38px; font-weight: bold; }
.mright { margin-right: 20px; }
.devise { margin-top: 60px; min-height: 580px; }
.cool-title { color: #999; }
.aecio { margin-top: 5px }
.marina { margin-top: 4px }
.account { margin-top: 50px; min-height: 600px; }
.logo { position: absolute; top: -77px; left: 20px; }
.alert-notice { background-color: #dff0d8; border-color: #d6e9c6; color: #3c763d; }
.alert-notice .btn { position: absolute; font-weight: bold; top: 10px; right: 25px; }
.tip{position:absolute;display:inline-block;min-width:5em;padding:.5em;background:#F4C63D;color:#453D3F;font-weight:700;text-align:center;pointer-events:none}.tip:after{content:"";position:absolute;top:100%;left:50%;width:0;height:0;margin-left:-15px;border:15px solid transparent;border-top-color:#F4C63D}
.no-padding-left { padding-left: 0; }
#white .row { margin-top: 50px; }
.admin-only {display: none !important;}