<h2 class='politic'><span class='guy'></span></h2>

<div class='call-to-actions'>
  <%= button_tag 'Branco', class: 'btn btn-default btn-large white' %>
  <%= button_tag 'Corrigir', class: 'btn btn-warning btn-large correct' %>
  <%= submit_tag 'Confirmar', class: 'btn btn-success btn-lg confirm btn-disabled', disabled: true %>
</div>

