<%=
  seo [
    { property: 'description', content: "Simulador da Urna Eletrônica Eleitoral. Vote agora! NA Urna você pode simular seu voto e ver as estatísticas de intenções de voto em tempo real. Mude de opinião, mas venha para A Urna. Vote para Deputado Estadual, Deputado Federal, Governador, Senador e Presidente." },
    { property: 'og:title', content: "Simulador da Urna Eletrônica - Intenções de Voto em Tempo Real - A Urna", type: 'property' },
    { property: 'og:url', content: simulator_url, type: 'property' },
    { property: 'og:image', content: image_url('compartilhe-aurna.png'), type: 'property' },
    { property: 'og:description', content: "Simulador da Urna Eletrônica Eleitoral. Vote agora! NA Urna você pode simular seu voto e ver as estatísticas de intenções de voto em tempo real. Venha para A Urna. Vote para Deputado Estadual, Deputado Federal, Governador, Senador e Presidente.", type: 'property' }
  ]
  title "Simulador da Urna Eletrônica - Intenções de Voto em Tempo Real - A Urna"
%>
<%= render 'commons/menu' %>
<div class="container">
  <div class="row centered">
    <div class="col-lg-6 col-lg-offset-3 mt">
      <h1 class='cool-title'>Simulador da Urna Eleitoral</h1>
      <h3>SEU VOTO PARA...</h3>

      <div id="simulator">

      <% if CandidatesHelper::STATES_2ROUND.member?(current_user.state) %>
        <h3>Governador</h3>
        <section>
          <h2>Governador</h2>
          <%= form_tag('/vote', { role: 'form', class: 'form-horizontal', id: 'governador' }) do %>
            <div class='squares'>
              <input type="text" name="number[0]" class="input-square" maxlength="1" autocomplete="off" />
              <input type="text" name="number[1]" class="input-square last" maxlength="1" autocomplete="off" />
            </div>

            <%= render 'buttons_actions' %>
          <% end %>
        </section>
      <% end %>

        <h3>Presidente</h3>
        <section>
          <h2>Presidente</h2>
          <%= form_tag('/vote', { role: 'form', class: 'form-horizontal', id: 'presidente' }) do %>
            <div class='squares'>
              <input type="text" name="number[0]" class="input-square" maxlength="1" autocomplete="off" />
              <input type="text" name="number[1]" class="input-square last" maxlength="1" autocomplete="off" />
            </div>
            <%= render 'buttons_actions' %>
          <% end %>
        </section>

      </div>

    </div>
  </div>
</div>
