<div class="row-fluid centered">
  <div class="col-lg-4" id="results" class='bigger'>
    <section>
      <div class='squares'>
        <%= glue_for @votes %>
      </div>
    </section>
  </div>
</div>
