<%=
  seo [
    { property: 'description', content: "Simulador da Urna Eletrônica Eleitoral. Vote agora! NA Urna você pode simular seu voto e ver as estatísticas de intenções de voto em tempo real. Mude de opinião, mas venha para A Urna. Vote para Deputado Estadual, Deputado Federal, Governador, Senador e Presidente." },
    { property: 'og:title', content: "Simulador da Urna Eletrônica - Intenções de Voto em Tempo Real - A Urna", type: 'property' },
    { property: 'og:url', content: simulator_url, type: 'property' },
    { property: 'og:image', content: image_url('compartilhe-aurna.png'), type: 'property' },
    { property: 'og:description', content: "Simulador da Urna Eletrônica Eleitoral. Vote agora! NA Urna você pode simular seu voto e ver as estatísticas de intenções de voto em tempo real. Venha para A Urna. Vote para Deputado Estadual, Deputado Federal, Governador, Senador e Presidente.", type: 'property' }
  ]
  title "Simulador da Urna Eletrônica - Seus Resultados - Intenções de Voto em Tempo Real - A Urna"
%>
<%= render 'commons/menu' %>

<div class="container">
  <div class="row" id="results">
    <div class="col-lg-4 col-lg-offset-2 col-md-4 col-md-offset-2 mt">
      <section>
        <% if @votes.any? %>
          <div class='squares centered'>
            <%= glue_for @votes %>
          </div>
          <br>
          <p>Isso foi uma simulação. Não garante seu voto. Seu voto é secreto no dia da eleição, mas você pode manifestar seu apoio a qualquer candidato.</p>
          <p>No dia da eleição, não se esqueça de levar seu <b>Título Eleitoral</b> e um <b>documento com foto</b>.</p>
        <% else %>
          <h4>Não votou ainda?</h4>
          <%= link_to 'Simular Voto', simulator_path, class: 'btn btn-primary btn-lg' %>
        <% end %>
      </section>
    </div>

    <div class="col-lg-4 col-md-4 mt">
      <section>
        <% if @votes.any? %>
          <h4>FIM! Aqui está sua "cola" eleitoral. <br><%= link_to 'Imprima!', print_path, target: "_blank" %></h4>

          <p><b>Clique em <%= link_to 'Simulador', simulator_path %> para refazer a simulação e mudar seu voto. Refazendo a simulação o voto será alterado e recomputado, ou seja, não será acumativos.</b></p>

          <%= link_to 'Imprimir Cola Eleitoral', print_path, target: "_blank" %><br>
        <% end %>

        <%= link_to 'Ir para a Home', root_path %><br>
        <%= link_to 'Ver as estatísticas', charts_path %><br><br>
        <%= link_to 'Simular Novamente', simulator_path, class: 'btn btn-success' %><br><br>

        <%= link_to "<i class='fa fa-facebook'></i> Compartilhar A Urna".html_safe, '', class: 'btn btn-primary btn-lg btn-fb' %>
      </section>
    </div>

  </div>
</div>
