<%=
  seo [
    { property: 'description', content: "Estatísticas dA Urna. NA Urna você pode simular seu voto e ver as estatísticas de intenções de voto em tempo real. Vote agora, ou mude de opinião, mas venha para A Urna." },
    { property: 'og:title', content: "Eleições 2014 - Intenções de Voto em Tempo Real - A Urna", type: 'property' },
    { property: 'og:url', content: charts_url, type: 'property' },
    { property: 'og:image', content: image_url('compartilhe-aurna.png'), type: 'property' },
    { property: 'og:description', content: "Estatísticas dA Urna. NA Urna você pode simular seu voto e ver as estatísticas de intenções de voto em tempo real. Vote agora, ou mude de opinião, mas venha para A Urna.", type: 'property' }
  ]
  title "Intenções de Votos para #{@candidates.first.try(:position)} - #{@candidates.first.try(:state)} - Eleições 2014 - A Urna"
%>

<%= render 'commons/menu' %>

<div class="container">
  <div class="row">
    <div class="col-lg-12 mt">
      <h1 class='cool-title centered'><%= link_to 'Estatísticas', charts_url %></h1>
      <div class="btn-group">
        <% CandidatesHelper::STATES_2ROUND.each do |state, acronym| %>
          <%= link_to state, charts_url(state, 'governador'), class: 'btn btn-default' %>
        <% end %>
      </div>
      <br><br>
      <div class="ct-chart ct-perfect-fourth"></div>
      <br><br>
      <div class="hide">
        <table class='table'>
          <tr>
            <th>Nome do Candidato</th>
            <th>Partido</th>
            <th>Quantidade de votos</th>
          </tr>
          <% @candidates.each do |candidate| %>
            <tr>
              <td><%= candidate.ballot_name %></td>
              <td><%= candidate.entourage %></td>
              <td><%= candidate.votes_counter %></td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</div>


