<!DOCTYPE html>
<html>
<head>
  <title>A Urna - Admin</title>
  <meta name="robots" content="noindex">
  <%= stylesheet_link_tag 'zone/application', media: 'all' %>
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="wrapper">

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="margin-bottom: 0">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/zone">A Urna Admin</a>
      </div>
      <!-- /.navbar-header -->

      <div class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">
          <ul class="nav" id="side-menu">
            <li><%= link_to zone_root_path do %><i class="fa fa-dashboard fa-fw"></i> Dashboard</a><% end %></li>
            <li><%= link_to zone_elections_path do %><i class="fa fa-check-square-o fa-fw"></i> Eleições</a><% end %></li>
            <li><%= link_to zone_candidates_path do %><i class="fa fa-users fa-fw"></i> Candidatos</a><% end %></li>
            <li><%= link_to zone_issues_path do %><i class="fa fa-envelope-o fa-fw"></i> Mensagens</a><% end %></li>
            <li><%= link_to zone_users_path do %><i class="fa fa-user fa-fw"></i> Usuários</a><% end %></li>

            <li>
              <a href="/zone/stats"><i class="fa fa-bar-chart-o fa-fw"></i> Estatísticas</a>
            </li>
          </ul>
        </div>
      </div><!-- /.navbar-static-side -->

    </nav>

    <div id="page-wrapper">
      <div class="row">
        <div class="col-lg-12">
          <%= render 'commons/flash'%>

          <%= yield %>

        </div>
      </div>
    </div>

  </div>

  <%= javascript_include_tag 'zone/application' %>

  <%= yield :javascript %>

</body>
</html>
