<!DOCTYPE html>
<html lang='pt'>
  <head>
    <%= render 'commons/head' %>
  </head>

  <body>
    <script type="text/javascript">
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '294932487369019',
          xfbml      : true,
          version    : 'v2.1'
        });
      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
    </script>

    <div class="wrapper">
      <%= yield %>
      <div class="push"></div>
    </div>

    <div id="f" data-role="footer">
      <%= image_tag 'aurna-white-100.png', class: 'img-responsive logo' %>
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <%= link_to 'Políticas de Privacidade', politics_path %> |
            <%= link_to 'Reportar um erro', issue_path %>
            <%= link_to image_tag('wipcodes.png', alt: 'wip.codes', class: 'img-responsive pull-right'), 'http://wip.codes', title: 'Wip.Codes' %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%= javascript_include_tag 'application' %>

  <%= yield :javascript %>

  <script type="text/javascript">
    var _gauges = _gauges || [];
    (function() {
      var t   = document.createElement('script');
      t.type  = 'text/javascript';
      t.async = true;
      t.id    = 'gauges-tracker';
      t.setAttribute('data-site-id', '542097ad8bfdf716e900343a');
      t.src = '//secure.gaug.es/track.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(t, s);
    })();
  </script>

  </body>
</html>
