<!DOCTYPE html>
<html>
<head>
  <title>A Urna</title>
  <meta name="robots" content="noindex">
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= yield %>
</body>
</html>
